RewriteEngine On

RewriteRule ^strona-glowna/?$ index.php [L]
RewriteRule ^wyszukaj-artykul/?$ search.php [L]
RewriteRule ^utworz-artykul/?$ create.php [L]
RewriteRule ^edytuj-artykul/([^/]+)/?$ edit_article.php?slug=$1 [L,QSA]
RewriteRule ^usun-artykul/([^/]+)/?$ delete_article.php?slug=$1 [L,QSA]
RewriteRule ^gry/?$ games.php [L]
RewriteRule ^gry/quiz/?$ game_quiz.php [L]
RewriteRule ^gry/wisielec/?$ game_hangman.php [L]
RewriteRule ^gry/memory/?$ game_memory.php [L]
RewriteRule ^forum/?$ forum.php [L]
RewriteRule ^forum/temat/([0-9]+)/?$ forum_topic.php?id=$1 [L,QSA]
RewriteRule ^logowanie/?$ login.php [L]
RewriteRule ^rejestracja/?$ register.php [L]
RewriteRule ^wyloguj/?$ logout.php [L]
RewriteRule ^panel-uzytkownika/?$ user_panel.php [L]
RewriteRule ^panel-admina/?$ admin_panel.php [L]
